body {
  width: 800px;
}

body::-webkit-scrollbar {
  width: 0px;
}

.main {
  margin: 25px 30px 25px 25px;
}

#clickme {
  margin-bottom: 20px;
}

#cart_submit {
  margin-bottom: 12px;
}

#change_phase {
  margin-top: 9px;
  margin-bottom: 3px;
}

#left_pointing {
  margin-left: 15px;
}

.info.description {
  margin-top: 3px;
}
